* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }

  .mainContainer{
    width: 50%;
    height: auto;
    margin-top: 2%;
  }
  h1{
    font-size: 80px;
    color: rgb(65, 62, 62);
    margin-bottom: 50px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
  input{
    margin-right: 10px;
  }

  .inputArea input,
  #submit{
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(65, 62 , 62);
    font-size: 40px;
    color: gray;
  }

  #submit:hover{
    color: black;
    cursor: pointer;
  }
  
  .inputArea {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    font-size: 40px;
  }
  li {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  